@charset "UTF-8";
/* CSS Document */
* {
padding: 0;
margin: 0;
}

body {
    color: #333;
    font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    overflow-x: hidden;
	background-color: #F4F9FF;
}
h2{
	font-size: 18px;
}


.container{
	width:1000px;
	margin: 0 auto;

}

header{
	margin-top: 60px;
	margin-bottom: 15px;
}



#index {
	background-color: #fff;
	margin:60px auto;
}

.id-container{
	width:600px;
	margin:0 auto;
}
.id-container h2{
	padding-top: 30px ;
/*	font-size: 18px;*/
}
.id-container ol{
	padding-bottom: 10px;
}
.id-container li{
	padding: 10px;
	margin-left: 20px;
}



.dtl-wrapper {
	width: 600px;
	margin:0 auto;
}
.dtl-wrapper h2{
	padding-bottom: 10px ;
/*	font-size: 18px;*/
}
.dtl-container {
	display: flex;
}
.dtl-txt {
	margin-left: 60px;
}
dl{
	display: flex;
	flex-wrap: wrap;
	padding:16px 0px;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}

dt {
	width: 25%;
	font-size: 14px;
}
dd{
	width: 75%;
	font-size: 14px;
}

p{
	font-size: 14px;
	padding: 25px 0px;
}

a {
	text-decoration-line: underline;
}


footer {
	width: 600px;
	margin: 0 auto;
	padding-top: 115px;
	padding-bottom: 15px;
}
footer p{
	font-size: 10px;
	padding: 0px;
}